.user-img{
	width: 60px;
	height: 60px;
	border-radius: 100%
}
.user-holder{
	display: flex;
	align-items: center;
	padding: 5px 10px;
	margin: 5px 0;
}
.user-holder h1{
	margin-left: 20px;
	font-weight: 800;
	color: black
}